/*
div.surveyanswers div.group{
	background-color: #E6E8ED;
	border-color: #AAB1C5;
	border-style: solid;
	border-width: 1px;
}

div.surveyanswers div.questions {
	left:16.8%;
	position:absolute;
	top:3%;
	width:66.2%;
}
.documentEditable {
	bottom:30px;
	margin:0 1em;
	position:relative;
}
div.surveyanswers div.inner_questions{
	border-top:1px solid #C4C2C2;
	border-left:1px solid #C4C2C2;
	border-right:1px solid #C4C2C2;
    background-color: #F2F4F7;
    z-index:3;
}

div.surveyanswers ul{
	margin: 0;
	}
div.surveyanswers li {
	border-bottom:1px solid #AAB1C5;
	border-color:#AAB1C5;
	border-width:1px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding:0 1em 4px;
    margin-bottom: 0;
}

div.surveyanswers_country{
	padding-top: 4em;
	}
	
div.surveyanswers_country div.chart{
	float:left;
	}
ul.discriminators{
	float:left;
	border: 1px solid #AAB1C5;
	list-style: none;
	padding: 1.5em;
	margin-top: 15px;
	}
ul.discriminators .selected{
	background-color: #E6E8ED;
	border: 1px solid #AAB1C5;
	padding: 1px 4px;
	margin-left: -4px;
	}
	
.excel-download {
	display: list-item;
	list-style-image: url(msexcel_icon.gif);
	list-style-position: inside;
	}
#portal-column-one {
	float:left;
	margin:0 0 0 -84%;
	overflow:hidden;
	padding:0 0.6em;
	width:15%;
}

.surveyanswers h4 {
border-bottom:1px dotted #C4C2C2;
font-size:110%;
font-weight:bold;
padding:0 0 0.2em;
}
*/
