div.surveyanswers div.group{
    background-color: #E6E8ED;
    /*border-color: #AAB1C5;*/
    border-style: solid;
    border-width: 1px;
}

div.surveyanswers div.questions {
    left:16.8%;
    position:absolute;
    top:3%;
    width:66.2%;
}

div.surveyanswers div.inner_questions{
display:block;
margin-left:-9px;
position:relative;
top:15px;
    border-top:1px solid #C4C2C2;
    border-left:1px solid #C4C2C2;
    border-right:1px solid #C4C2C2;
    background-color: #F7F7F7;
    z-index:3;
}

body.section-sub-esener #portal-column-two {
    display: none;
}

body.section-sub-esener #portal-column-one {
    margin: 4em 0 0 -90%;
}

body.section-sub-esener #portal-column-content {
    width: 74%;
}

body.section-sub-esener #portal-breadcrumbs {
    display: none;
}

body.section-sub-esener div.content-column {
    margin-top: 2em;
}

div.surveyanswers ul{
    margin: 0;
    padding: 0 0.5em;
    }
div.surveyanswers li {
    border-bottom:1px solid #F1BA8D;
    /*border-color: :#F1BA8D;*/
    border-width:1px;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    padding:0 1em 4px;
    margin-bottom: 0;
}

div.surveyanswers_country{
    padding-top: 4em;
    }

div.surveyContent ul.discriminators{
    display: block;
    border: 1px solid #AAB1C5;
    list-style-type: none!important;
    list-style-image: none!important;
    padding: 1.5em;
    margin-top: 15px;
    width: 10em;
    margin-left: 0;
    margin-bottom: 0.5em;
    }

div.surveyContent div.right_box{
    float: left;
}

div.surveyContent div#mapdiv{
    float: left;
    width: 550px;
}

div.right_box ul.discriminators .selected{
    background-color: #E6E8ED;
    border: 1px solid #AAB1C5;
    padding: 1px 4px;
    margin-left: -4px;
    }

div.surveyContent .excel-download {
    display: list-item;
    list-style-image: url(msexcel_icon.gif);
    list-style-position: inside;
    }

.surveyanswers ul.questionslvl1 li.title, div.inner_questions li {
    border-bottom:1px dotted #C6C6C6;
    background-color: #F7F7F7;
    font-size:110%;
    font-weight:Normal;
    padding:0 0 0.2em;
    cursor: pointer;
}

div.inner_questions a{
    display:block;
}

.surveyanswers ul.questionslvl1 li.title:hover, div.inner_questions li:hover {
    background-color: #C5CBD8;
}


div.surveyContent h1{
    border-bottom:medium none;
    font-size:125%;
    font-weight:bold;
    padding:0 1em;
    text-decoration:underline;
}
